<div class="row text-center bg-error">
    <h2>{{client.name}} has been updated in your database.</h2>


</div>
<div class="row text-center bg-error">
    <h2><a href="/client/{{client.id}}">GO TO DETAILS<a/></h2>
</div>
{{> go-to-clients}}



